body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
}

.logo {
  width: 75px;
}

.nav-primary {
  padding: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  left: 0;
  background: white;
}

.mx-8 {
  margin: 0 8px;
}

.bq {
  border-left: black 10px solid;
  margin: 0;
  padding-left: 10px;
}

/*Desktop Styles*/
@media (min-width: 767px) {
  .remove-margin-top {
    margin-top: 0;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
  }

  .header > * {
    flex: 1 0;
  }

  .hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-center {
    display: flex;
    justify-content: center;
  }

  .max-width-400 {
    max-width: 400px;
  }

  .flex {
    display: flex;
  }

  .flex > * {
    flex: 1 0;
    margin: 0 10px;
  }
  .flex > div:first-child {
    margin-left: 0;
  }

  .flex > div:last-child {
    margin-right: 0;
  }
}
